* {
    margin: 0px;
    padding: 0px;
    font-family: Work Sans;

}

/* shared style */
.display-flex {
    display: flex;
}

.display-grid {
    display: grid;
}

/* dark 02 */
.text-gray {
    color: #424242;
}

/* dark 03 */
.text-light-gray {
    color: #727272;
}


.btn {
    background-color: #FF900E;
    padding: 20px 25px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700px;
    color: white;
    border: none;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

/* navbar style */
.brand {
    font-size: 2.8rem;
    font-weight: bold;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    margin-right: 20px;
    font-size: 1.1rem;
    font-weight: 400px;
}

header {
    padding: 50px;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related style */
.banner-content {
    max-width: 850px;
    margin: 40px auto;
    text-align: center;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
}

.banner-descriptions {
    font-size: 0.80rem;
    font-weight: 400;
    margin: 20px auto;
}

.banner-image {
    max-width: 100%;
}

/* main-section */
main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

/* features-section */
.features-section {
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.image-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.content-section {
    max-width: 537px;
    margin-left: 50px;
}

.feaures-title {
    font-size: 2.8rem;
}

.gray-part {
    font-weight: 400;
}

.Features {
    color: #ff900e;
    font-weight: bold;
}

/* features-section */
.features-you-will-enjoy {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
    gap: 54px;
    padding-left: 100px;
    padding-right: 100px;
}

.featues-image img {
    width: 100%;
}

.features-head-title {
    border-left: 4px solid #ff900e;
    padding-left: 20px;
}

.card {
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
    border: none;
    padding: 25px;
    width: 500px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 1rem;
    font-weight: 600;
}

.years {
    font-size: 4em;
    font-weight: bold;
}

.experience {
    font-size: 1.7rem;
    font-weight: 500;
}

.remove-mergin {
    margin: 5px auto;
}

.primary-btn {
    margin-left: -100px;
    margin-top: -80px;
}

/* facts section */
.some-facts-section {
    margin-left: 100px;
    margin-right: 100px;
}

.fact-title {
    font-size: 2.8rem;
    font-weight: bold;
}

.box {
    border: 1px solid #ff900e;
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;

}

.boxs {
    /* gap: 20px; */
    justify-content: space-around;
}

/* footer style */